 @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');


 :root {
   --default-bg-color: #f5f5f5;
   --primary-bg-color: #474242a3;
   --secondary-bg-color: #F64E4E;
   --tertiary-bg-color: #DC5F00;

   --primary-text-color: #f5f5f5;

   --primary-font:'Oswald', sans-serif;
 }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
}
.container {
  height: 100vh;
  width: 100%;
  background-image: url('../images/CTV_4780.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  
}
.login-container {
  height: 100vh;
  width: 100%;


}
.logo-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  width: 30%;
  height: 75%;
  padding: 10px;
  border-radius: 10px 0 0 10px;
  background-image: url(/test-repo/images/paul-earle-wVjd0eWNqI8-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--default-bg-color);
  box-shadow: 0 2px #f5f5f5;
  z-index: 1;
}
.logo-container > h1 {
  -webkit-text-stroke: 1px var(--secondary-bg-color);
  z-index: 1;
}
.tapat {
  font-size: 5rem;
  text-transform: uppercase;
}

.login-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 30%;
  padding: 10px;
  height: 75%;
  box-shadow: 2px 2px 2px #f5f5f5;
  border-radius: 0 10px 10px 0;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-bg-color);


}
.card-header {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 20%;
  align-items: center;
  justify-content: center;
}
.card-header > img {
  width: 60%;
  height: auto;
  filter: drop-shadow(2px 2px 2px #f5f5f5 );
  
}

.card-body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: 60%;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.card-body > h1 {
  color: var(--default-bg-color);
  letter-spacing: 5px;
  font-size: 2rem;
  font-family: var(--primary-font);
  
}
h1 > span {
  color: var(--secondary-bg-color);
}
.card-body > input {
  width: 80%;
  height: 15%;
  border-radius: 10px;
  border: 1px solid var(--secondary-bg-color);
  background-color: #BBB3B3;
  gap: 1rem;
  text-align: center;
  transition: all .3s;
}
.card-body > input:focus {
  transform: scale(1.1);

}

input::placeholder {
 
  padding: 20px 10px;
  color: var(--default-bg-color);
  font-size: 0.9rem;

  
}
.card-body > i {
  color: var(--default-bg-color);;
  float: right;

}

.card-footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 20%;
  gap: 0.5rem;
  color: var(--default-bg-color);
  
}
.btnforgot {
  width: 35%;
  height: 45%;
  text-align: center;
  font-size: 1rem;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  background-color: #6a6161;
  transition: all .2s;
  overflow: hidden;

}
.btnforgot > a {
  text-decoration: none;
  color: var(--default-bg-color);
}
.btnlogin {
  width:35%;
  height: 45%;
  text-align: center;
  font-size: 1rem;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  background-color: var(--secondary-bg-color);
  transition: all .2s;
  overflow: hidden;
  color: var(--default-bg-color);
}

.card-footer > button:hover {
  transform: scale(1.1);
  background-color: var(--tertiary-bg-color);
}
.card-footer > button > i {
  font-size: 1.5rem;
  color: var(--default-bg-color);

}
