@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');


:root {
  --default-bg-color: #f5f5f5;
  --primary-bg-color: #474242a3;
  --secondary-bg-color: #F64E4E;
  --tertiary-bg-color: #DC5F00;
  
  --primary-text-color: #f5f5f5;
  
  --primary-font: font-family: 'Oswald', sans-serif;
}